{{!--Joshua Griep, Sam Bleyl, CS340, adopted from the react portion the course material--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/products">Products</a>
        <a href="/locations">Locations</a>
        <a href="/employees">Employees</a>
        <a href="/orders">Orders</a>
        <a href="/orderdetails">Order Details</a>
        <a href="/purchase">Buy today!</a>
        <a href="/reset">RESET</a>
        <a href="/demo-delete">Delete Leroy Jenkins</a>
    </nav>

    {{{body}}}

</body>
</html>