{{!--Joshua Griep, Sam Bleyl, CS340, adopted from the react portion the course material--}}


<h1>Furnitech</h1>
<div class="homepageDescription">
    <p>Furnitech Furniture Solutions</p>
    <p>Founded in 2021 by Joshua Griep and Sam Bleyl following the downfall of WeWork, we are a rapidly growing furniture retailer,
         and we want YOUR business!</p>
<<<<<<< HEAD
    <p>We already provide cheap, tacky, and slightly off color home and office furnishings in Chicago, LA, and New York City.</p>
=======
    <p>We already provide cheap, tacky, and slightly off color home and office furnishings in Chicago, LA, San Francisco, and New York City.</p>
>>>>>>> 185142f (Initial commit on sbleyl branch)
    <p>But with your help, we could do so much more.</p>
    <p>We're talking Baton Rogue. We're talking Cour de Lane. Call us crazy, but we even have dreams of making it big in Omaha...</p>
    <p>And with your continued support, we just might get there.</p>
</div>